In [1]:
import pandas as pd

## Load data

In [2]:
data = pd.read_csv('../data/Meter_A.txt', sep='\t', header=None).dropna()
data.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0.841499,1.009367,0.993816,8.469805,10.278727,10.037759,8.501365,8.581726,10.247763,10.058822,...,32.451173,34.568685,33.082683,36.722005,36.969403,36.075847,36.051432,35.174155,32.729490,1
1,0.842250,1.006584,0.996605,7.531891,9.139924,8.951618,7.612213,7.623325,9.106345,8.945142,...,32.428385,34.441732,33.081055,36.687825,36.933595,36.054688,35.979818,34.847005,32.731122,1
2,0.840723,1.011647,0.998152,6.641699,7.975464,7.857692,6.593117,6.681572,7.964596,7.814698,...,32.428385,34.275715,33.113605,36.661785,36.873370,36.002605,35.963542,34.689128,32.771810,1
3,0.841119,1.017807,0.996812,5.687524,6.824334,6.689885,5.615428,5.763315,6.801051,6.686639,...,32.485350,34.080403,33.170573,36.673177,36.811525,35.974935,35.955403,34.500328,32.849935,1
4,0.840358,1.016534,0.996221,5.660385,6.829560,6.675628,5.623977,5.736818,6.813453,6.672377,...,32.503255,34.122720,33.164062,36.673177,36.826173,35.996095,35.968425,34.474283,32.853190,1

In [3]:
data = data.to_numpy()

data

array([[ 0.84149871,  1.00936653,  0.99381601, ..., 35.174155  ,
        32.72949   ,  1.        ],
       [ 0.84225022,  1.00658369,  0.99660521, ..., 34.847005  ,
        32.73112167,  1.        ],
       [ 0.84072314,  1.01164657,  0.99815174, ..., 34.68912833,
        32.77181   ,  1.        ],
       ...,
       [ 0.79347112,  1.00955964,  1.00111012, ..., 33.82487   ,
        33.02083167,  2.        ],
       [ 0.79672987,  1.01057037,  0.99902897, ..., 33.81673167,
        33.01106667,  2.        ],
       [ 0.79019427,  1.00419541,  0.99553749, ..., 33.66862167,
        33.11848833,  2.        ]])

In [4]:
def load_data(path):
    data = pd.read_csv(path, sep='\t', header=None).dropna()
    print(data.head())
    data = data.to_numpy()
    return data

In [5]:
data = load_data('../data/Meter_A.txt')

         0         1         2         3          4          5         6   \
0  0.841499  1.009367  0.993816  8.469805  10.278727  10.037759  8.501365
1  0.842250  1.006584  0.996605  7.531891   9.139924   8.951618  7.612213
2  0.840723  1.011647  0.998152  6.641699   7.975464   7.857692  6.593117
3  0.841119  1.017807  0.996812  5.687524   6.824334   6.689885  5.615428
4  0.840358  1.016534  0.996221  5.660385   6.829560   6.675628  5.623977

         7          8          9   ...         27         28         29  \
0  8.581726  10.247763  10.058822  ...  32.451173  34.568685  33.082683
1  7.623325   9.106345   8.945142  ...  32.428385  34.441732  33.081055
2  6.681572   7.964596   7.814698  ...  32.428385  34.275715  33.113605
3  5.763315   6.801051   6.686639  ...  32.485350  34.080403  33.170573
4  5.736818   6.813453   6.672377  ...  32.503255  34.122720  33.164062

          30         31         32         33         34         35  36
0  36.722005  36.969403  36.075847  36.051432  35.174155  32.729490   1
1  36.687825  36.933595  36.054688  35.979818  34.847005  32.731122   1
2  36.661785  36.873370  36.002605  35.963542  34.689128  32.771810   1
3  36.673177  36.811525  35.974935  35.955403  34.500328  32.849935   1
4  36.673177  36.826173  35.996095  35.968425  34.474283  32.853190   1

[5 rows x 37 columns]

## We can create our parent class data_preprocess.py based on this code